/****** General ***********/
@media screen and (min-width: 1024px) and (max-width: 1300px){
    .main-container {
        min-width: 1010px;
        margin: 0px 20px;
    }
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.logements {
    display: flex;
    align-items: baseline;
}

.logements i {
    margin-right: 10px;
    justify-self: center;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 4px 11px 7px 10px;
}


/******HEADER***********/

.header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top;
}

#logo_booki {
    height: 25px;
    width: 80px;
    margin-top: 25px;
}

.button_head_div {
    display: flex;
    justify-content: flex-end;
}

.button_head {
    border: none;
    background-color: white;
    color: rgb(18, 18, 18);
    padding: 39px 50px 0px 39px;
    border-top: 4px solid transparent;
    text-decoration: none;
}

.button_head:hover {
    color: var(--main-color);
    border-top: #0065FC 2px solid;
    cursor: pointer;
}

header button {
    color: #0065FC;
}

.fa-location-dot {
color: #161717;
}

/********INFO_GROUP *************/

.info_group {
    flex-direction: column;
}

.info_group>* {
    margin-bottom: 35px;
}

.info_group input[type="search"] {
    margin-top: 35px;
}

.filter_bar {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.filter_bar>* {
    flex-direction: row;
    margin-left: 5px;
}

.filter_bar button {
    background-color: #ffffff;
    border-radius: 30px;
    border: #d9d9d9 2px solid;
    padding: 12px;
    font-weight: 600;
    margin-left: 15px;
}

.filter_bar button:hover {
    background-color: #DEEBFF;
}

#responsive{
    display: none;
}


/**********SEARCHBAR****************/


.search_bar {
    display: flex;
    align-items: baseline;
}

.search_bar i {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 20px;
    margin: 0px;
    align-self: self-end;
}

.search_bar button {
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    padding: 13px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    margin: -6px;
    height: 56px;
}

.search_bar button:hover {
    cursor: pointer;
}

.search_bar input {
    padding: 26px;
    font-weight: 600;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left: none;
    border-right: none;
    height: 36px;
    margin: 0px;
}

/****** Hebergements And Populaires ***********/

.hebergement-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.hebergements-main .populaires {
    display: flex;
    justify-content: space-between;
    margin: 0.875rem;
    padding: 1.875rem;
    gap: 30px;
}

.hebergements-main {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 25px 30px 20px 25px;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
}

.hebergements-and-populaires {
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
    gap: 40px;
    margin: 18px 0px 40px 0px;
}

.populaires-title {
    align-items: baseline;
    gap: 20px;
}

.populaires-title i {
    align-self: baseline;
    padding-top: 5px;
}

#afficher_plus {
    margin-top: 60px;

}

/******************CARDS*******************/

.card_hebergement img {
    width: 97%;
    height: 124px;
    padding: 3px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.card_hebergement {
    box-shadow: 2px 3px 15px -4px #000000;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-inline-size: calc(100% * (250px / 190px));
}

.card:hover {
    cursor: pointer;
}

.card-activites:hover {
    cursor: pointer;
}

.card_hebergement:hover {
    cursor: pointer;
}

.hebergements-main h3 p {
    padding: 10px;
}


/****** Populaires ***********/

.populaires{
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 25px 30px 20px 25px;
}

.populaires-title {
    display: flex;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    min-width: 240px;
    max-width: 335px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards {
    margin-right: 20px !important;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 3px 15px -4px #000000;
}

.card:hover .card-main:hover .card-activites:hover {
    cursor: pointer;
}

.card img .card-main img .card-activites img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.section-title {
    margin-bottom: 30px;
}


/************Activités***************/
.activites {
    width: inherit;
}

.container_activites {
    display: flex;
    gap: 30px;
}

.container_activites .card-activites {
    display: flex;
    box-shadow: 6px 9px 17px -5px rgba(0, 0, 0, 0.41);
}

.card-activites img {
    max-height: 330px;
    height: inherit;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-activites {
    flex-direction: column;
    border-radius: 20px;
    width: 18rem;
    height: 25rem;
}

.card-activites h3 {
    padding: 14px;
}

.card-content>* {
    padding: 3px;
}

.card-content-main>* {
    padding: 3px;
}


/***********Footer*****************/


.footer {
    display: flex;
    background-color: #F2F2F2;
    margin: 60px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    gap: 220px;
    align-items: flex-start;
}

.footer-txt {
    flex: 1fr;
    max-width: calc(33.33% - 15px);
    margin-bottom: 35px;
}

.footer p {
    margin-top: 15px;
}